<%- include("partials/header.ejs") %>

    <h1>Home</h1>
    <p>
        <%= homeText %>
    </p>

    <% postContent.forEach(post=> { %>
        <% const blogContent=post.content %>
            <% const truncContent=blogContent.substring(0, 100) + "..." %>
                <h1>
                    <%= post.title %>
                </h1>
                <p>
                    <%= truncContent %>
                        <a href="http://localhost:3000/posts/<%= post.title %>">Read More</a>
                </p>
                <% }) %>




                    <%- include("partials/footer.ejs") %>